<html>
    <head>
        <title>
            <%= %>
        </title>
    </head>
    <body>
        Hi <strong><%= tfname+' '+tlname %></strong>
        <br>
            New  <%= categoryname %> Activity is assigned you by  <%= schoolname %> School
        <br>
        <strong>
            Thanks
        </strong>
    </body>
</html>
