<html>
    <head>
        <title>
            <%= %>
        </title>
    </head>
    <body>
        Hi <strong><%= ffname+' '+flname %></strong>
        <br>
            <%= Tfname+' '+ Tlname%> has send a message. Please check your chat screen on the website.
        <br>
        <strong>
            Thanks
        </strong>
    </body>
</html>
