<html>
    <head>
        <title>
            <%= %>
        </title>
    </head>
    <body>
        Welcome <strong><%= fname+' '+lname %></strong>
        <br>
        Welcome to <%= SITE_NAME %>. Your System generated password is given below.You can change your password by using reset Password Screen.
        <br>
        Password : <%= password %>
        <br>
        <strong>
            Thanks
        </strong>
    </body>
</html>